


.top-header-container{
font-family: 'Libre Bodoni', serif;
display: flex;


.logo{
margin-left: 40px;
margin-top: 15px;
width: 30%;
padding-top: 20px;
padding-bottom: 20px;
font-size: 20px;
}
.navigation-container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    text-align: end;
    ul{
    display: inline-block;
    li{
            display: inline-block;
            margin-right: 60px;
        }
    }

}



}