.recipes-container{
    background-image: url("../../../public/cocktails.jpg");
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 160vh;
    background-size: cover;
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

CREATE TABLE tblDrinks (
     drink_id int auto_increment primary key, 
     name varchar(500) NOT null,  
     recipeBody varchar(1000) NOT null 
     );