.cocktail-component-container{
display: flex;
font-family: 'Libre Bodoni', serif;
justify-content: center;
margin-bottom: 100px;

img{
    width: 400px;
    height: 600px;
    opacity: 0.9;
}

h1{
    font-size: 40px;
}

p{
width: 70%;
font-size:20px ;

opacity: 0.7;
}

.cocktail-component-text{
margin-left: 60px;

}

}