.footer-container{
background-color: black;
height: 300px;
font-family: 'Libre Bodoni', serif;

h2{

    color: white;
    font-size: 20px;
    padding-top: 100px;
    width: 150px;
    padding-left: 100px;
}
}